@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

:root {
  --primary-color: rgb(162, 162, 209);
  --font-size: 1.2rem;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--primary-color);
}

h1 {
  font-size: 3rem;
  text-align: center;
  color: black;
  font-weight: 600;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: rgb(243, 243, 243);
  height: fit-content;
  width: 40%;
  margin: 30px auto;
  border-radius: 10px;
}

h3,
h2 {
  margin: 15px 20px;
}

button {
  background-color: var(--primary-color);
  font-weight: bold;
  font-size: 1rem;
  width: 60%;
  padding: 10px 15px;
  margin: 10px auto;
  border-radius: 7px;
  border: none;
  text-transform: capitalize;
  cursor: pointer;
  letter-spacing: 2px;
}

button:hover {
  background-color: red;
  color: white;
}

/* on smaller screens width */

@media screen and (max-width: 768px) {
  .container {
    width: 80%;
  }
}

.person {
  display: flex;
  padding: 20px;
}

.person img {
  border-radius: 7px;
  margin-right: 10px;
}
